---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% from "Card.njk" import Card %}
{% from "Text.njk" import Text %}

{% block header %}
  <header class="container mx-auto space-y-12 md:space-y-16 lg:space-y-20">
    {% include "bio.njk" %}
    
    <nav class="md:sr-only">
      <div class="sr-only">Navigation</div>

      <ul class="flex gap-4">
        <li><a href="#latest-articles">Latest Artices</a></li>
        <li><a href="#software">Software</a></li>
      </ul>
    </nav>
  </header>
{% endblock %}

<main class="container mx-auto mt-12 md:mt-16 lg:mt-20 space-y-12 md:space-y-16 lg:space-y-20">
  <section id="latest-articles">
    {% set maxPosts = collections.posts.length | min(3) %}
    {% set postslist = collections.posts | head(-4) %}
    {% set postslistCounter = collections.posts | length %}

    <h2 class="heading-2">Latest {% if maxPosts > 1 %}Articles{% else %}Article{% endif %}</h2>

    <div class="mt-8">
      {{ Text({ content: "More posts can be found in <a href=\"{{ '/posts/' | url }}\">the archive</a>."|safe }) }}
    </div>
    {% include "postslist.njk" %}
  </section>

  <section id="software">
    {% include "open-source.njk" %}
  </section>
</main>