---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}

<div class="space-y-12 md:space-y-16 lg:space-y-20 w-full">
  <header class="space-y-12 md:space-y-16 lg:space-y-20">
    {# {% include "bio.njk" %} #}
    
    <nav class="md:sr-only">
      <div class="sr-only">Navigation</div>

      <ul class="flex gap-4">
        <li><a href="#latest-articles">Latest Artices</a></li>
        <li><a href="#software">Software</a></li>
      </ul>
    </nav>
  </header>

  <main class="space-y-12 md:space-y-16 lg:space-y-20">
    <section id="latest-articles">
      {# {% include "articles.njk" %} #}asd
    </section>

    <section id="software">
      {% include "open-source.njk" %}
    </section>
  </main>
</div>