{% from "Card.njk" import Card %}
{% from "Text.njk" import Text %}

<div>
  <h2 class="heading-2">{{ content: articles.heading }}</h2>

  {% if articles.summary|length %}
    <div class="mt-8">
      {{ Text({ content: articles.summary }) }}
    </div>
  {% endif %}
  
  <div class="gap-6 grid grid-cols-12 mt-8">
    {% for card in articles.posts %}
      <div class="col-span-full lg:col-span-4 sm:col-span-6 xl:col-span-3">
        {# {{ Card(card) }} #}
      </div>
    {% endfor %}
  </div>
</div>