{% macro PostNav(props = {}) %}
  {% set nextPost = null %}
  {% if props.nextPost %}
    {% set nextPost = props.nextPost %}
  {% endif %}

  {% set previousPost = null %}
  {% if props.previousPost %}
    {% set previousPost = props.previousPost %}
  {% endif %}

  {% if nextPost or previousPost %}
    <ul class="border-t list-none mt-20 p-0 pt-10 space-y-12 w-full">
      {% if nextPost %}
        <li>
          <p>
            <div class="font-bold text-xl">Next Post:</div>

            <a class="mt-2" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
          </p>
        </li>
      {% endif %}

      {% if previousPost %}
        <li>
          <p>
            <div class="font-bold text-xl">Previous Post:</div>

            <a class="mt-2" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
          </p>
        </li>
      {% endif %}

      <li>
        <p>
          <a class="font-bold text-xl" href="{{ '/posts/' | url }}">See All Posts</a>
        </p>
      </li>
    </ul>
  {% endif %}
{% endmacro %}