@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Blocked Off";
    src: url(BlockedOff-subset.woff2) format("woff2");
  }
  
  @font-face {
    font-family: "Hey August";
    src: url(HeyAugust-subset.woff2) format("woff2");
  }

  a {
    @apply decoration-link focus:text-link hover:text-link transition-colors underline;
  }

  em {
    @apply font-bold not-italic;
  }

  svg {
    path {
      fill: currentColor;
    }
  }
}

@layer components {
  .groundhog {
    @apply absolute bg-center bg-contain bg-groundhog inset-10 sm:inset-12 md:inset-20 lg:inset-24 xl:inset-32 p-5 sm:p-10 md:p-20 lg:p-32 xl:p-40;
  }

  .heading-1 {
    @apply font-serif text-5xl md:text-6xl lg:text-9xl;
  }

  .heading-2 {
    @apply font-serif text-5xl md:text-6xl lg:text-8xl;
  }
}