<!DOCTYPE html>
<html class="antialiased scroll-smooth text-black" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>olets.dev</title>

    <script src="https://curious-cheerful.olets.dev/script.js" data-site="FSYFQZQY" defer></script>

    <link rel="preload" href="/HeyAugust-subset.woff2" as="font" type="font/woff2" crossorigin=""/>

    <meta name="author" content="Henry Bley-Vroman" />
    <meta name="description" content="Henry Bley-Vroman (olets)">

    <meta property="og:title" content="olets.dev">
    <meta property="og:description" content="Henry Bley-Vroman (olets)">
    <meta property="og:url" content="https://olets.dev/">
    <meta property="og:site_name" content="olets.dev">
    <meta property="og:type" content="website">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image" content="https://olets.dev/oletsdev-fb.jpg">

    <meta name="twitter:title" content="olets.dev">
    <meta name="twitter:creator" content="@olets">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Henry Bley-Vroman (olets)">
    <meta name="twitter:image" content="https://olets.dev/oletsdev-tw.jpg">

    <link rel="canonical" href="https://www.olets.dev/" />

    <link href="mailto:olets@olets.dev" rel="me" />
    <link href="https://twitter.com/olets" rel="me" />
    <link href="https://github.com/olets" rel="me" />

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body class="flex flex-col md:text-lg min-h-screen">
    <div class="container flex flex-col flex-grow items-center justify-center md:pt-12 mx-auto p-4 pt-8 relative">
      {% block content '' %}
    </div>

    <footer class="p-5 pt-20 relative">
      © Copyright Henry Bley-Vroman, 2022-present.

      <p>
        You can <a href="{{ data.footer.sourceLink }}">look at the source</a>.
      </p>
    </footer>
  </body>
</html>