<!DOCTYPE html>
<html class="antialiased text-black" lang="en-US" dir="ltr">
  <head>
    <title>olets.dev</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body class="flex flex-col min-h-screen">
    <main class="container flex flex-col flex-grow items-center justify-center mx-auto p-4 relative">
      {% block content '' %}
    </main>

    <footer class="p-5 pt-40 relative">© Copyright Henry Bley-Vroman, 2022-present</footer>
  </body>
</html>