{% from "_Card.html.twig" import Card %}
{% from "_Heading.html.twig" import Heading %}
{% from "_Text.html.twig" import Text %}

<section>
  <div class="flex justify-between">
    {{ Heading({
      content: data.openSource.heading,
      tag: 'h2',
    }) }}

    <div>{{ data.openSource.details|raw }}</div>
  </div>

  {% if data.openSource.summary|length %}
    <div class="mt-8 space-y-4">
      {{ Text({
        content: data.openSource.summary,
      }) }}
    </div>
  {% endif %}
  
  <div class="gap-6 grid grid-cols-12 mt-8">
    {% for card in data.openSource.items %}
      <div class="col-span-full lg:col-span-4 sm:col-span-6 xl:col-span-3">
        {{ Card(card) }}
      </div>
    {% endfor %}
  </div>
</section>