{% macro Section(props = {}) %}
  {% set props = {
    heading: null,
    cards: [],
  } | merge(props) %}

  {% from "_Card.html.twig" import Card %}
  
  <div class="gap-12 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <div aria-role="presentation" class="col-span-2">
      <h1 class="font-serif text-9xl">
        {{ props.heading }}
      </h1>
    </div>

    {% for card in props.cards %}
      {{ Card(card) }}
    {% endfor %}
  </div>
{% endmacro %}