{% extends "_layout.html.twig" %}

{% from "_Section.html.twig" import Section %}

{% block content %}
  <div class="space-y-20">
    {% for section in context.sections %}
      {{ Section(section) }}
    {% endfor %}
  </div>
{% endblock %}